__tests__
__helpers__
__mocks__
src
coverage
*.tgz
.github
.husky
.idea
.run
.nyc_output
.gitattributes
.editorconfig
.eslintignore
.eslintrc.cjs
.lintstagedrc.cjs
.mocharc.js
.prettierrc.cjs
.nvmrc
commitlint.config.js
nyc.config.js
rollup.config.js
release.config.js
sonar-project.properties
tsconfig.json
